* {
  padding: 0;
  margin: 0;
  border: none
}
*,
*::after,
*::before {
  box-sizing: border-box
}
a {
  text-decoration: none
}
a,
a:link,
a:visited {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
aside,
footer,
header,
main,
nav,
section {
  display: block
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit
}
ul,
ul li {
  list-style: none
}
img {
  vertical-align: top
}
img,
svg {
  max-width: 100%;
  height: auto
}
address {
  font-style: normal
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input::-ms-clear {
  display: none
}
button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
  background: 0 0;
  cursor: pointer
}
button:active,
button:focus,
input:active,
input:focus {
  outline: 0
}
button::-moz-focus-inner {
  padding: 0;
  border: 0
}
label {
  cursor: pointer
}
legend {
  display: block
}
:root {
  --black-color: #131018;
  --grey-color: #707070;
  --red-color: #f1573d;
  --white-color: #fff
}
body,
html {
  height: 100%;
  font-family: Roboto,sans-serif;
  font-weight: 400
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column
}
.wrapper-container {
  flex: 1 1 auto
}
@font-face {
  font-family: AvenirLTProBlack;
  font-display: swap;
  src: url(../fonts/AvenirLTProBlack.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url(../fonts/GothamPro-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url(../fonts/GothamPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url(../fonts/GothamPro-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: icons;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block
}
[class*=" _icon-"]::before,
[class^=_icon-]::before {
  font-family: icons!important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow:before {
  content: "";
  color: #707070
}
._icon-search:before {
  content: "";
  color: #707070
}
._icon-close:before {
  content: "";
  color: #707070
}
._icon-destination:before {
  content: "";
  color: #707070
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body,
html {
  height: 100%
}
body {
  background: #fff
}
.player-wrapper {
  max-width: 480px;
  width: 100%;
  position: relative;
  background: #080e28;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100dvh
}
.player {
  position: relative;
  min-height: 100dvh
}
.player__content {
  height: 100%;
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column
}
.player__top {
  transition: .3s;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 20px;
  padding: 80px 15px 0 15px
}
.player.playlist-open>.player__content>.player__top {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden
}
.player__title {
  font-family: Roboto;
  font-weight: 800;
  font-size: 37.72px;
  line-height: 100%;
  color: #feb161
}
.player__subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 21.78px;
  line-height: 80%;
  color: #feb161
}
.player__cover-wrap {
  position: relative
}
.player__cover-wrap.active .show-on-photo {
  opacity: 1;
  visibility: visible
}
.player__cover {
  width: 100%;
  overflow: hidden;
  padding: 0 15px;
  height: 452px
}
.player__cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  display: block;
  border-radius: 21px
}
.player__cover-wrap {
  position: relative;
  height: 452px
}
.player__cover-wrap.active .player__cover {
  padding: 0
}
.player__cover-wrap.active * {
  color: #fff;
  border-radius: 0
}
.show-on-photo {
  position: absolute;
  left: 35px;
  bottom: 20px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0
}
.player__time {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #feb161;
  font-family: Roboto;
  padding: 0 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 80%
}
.player__progress {
  height: 8.76px;
  background: #feb161;
  border-radius: 999px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  margin-inline: 17px
}
.player__progress-filled {
  width: 0%;
  height: 100%;
  background: #feb161;
  border-radius: 999px;
  position: relative;
  display: flex;
  align-items: center
}
.player__progress-filled::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  width: 19px;
  height: 19px;
  background: #feb161;
  border-radius: 50%;
  pointer-events: none
}
.player__controls {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 6.85px;
  padding: 0 20px
}
.player__btn {
  border: none;
  max-width: 100%;
  width: 100%;
  height: 127px;
  border-radius: 8px;
  background: #1c2632;
  cursor: pointer;
  transition: background .1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center
}
.player__btn:hover {
  background: #2a3a4a
}
.player__btn img {
  width: 40px;
  height: 45px
}
.icon-pause {
  display: none
}
.player.playing .icon-play {
  display: none
}
.player.playing .icon-pause {
  display: flex
}
.player__playlist-btn {
  margin-top: 25px;
  border: none;
  background: rgba(0,0,0,0);
  align-self: center;
  cursor: pointer
}
.player__playlist-btn img {
  width: 27px
}
.playlist {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #1c2632;
  transition: height .25s ease;
  overflow: hidden;
  touch-action: none;
  z-index: 50;
  display: flex;
  flex-direction: column
}
.playlist.active {
  height: 35vh
}
.playlist__tracks {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px 20px 14px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #2c3b4e transparent
}
.playlist__tracks::-webkit-scrollbar {
  width: 10px
}
.playlist__tracks::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  margin-top: 10px;
  margin-bottom: 10px
}
.playlist__tracks::-webkit-scrollbar-thumb {
  background: #2c3b4e;
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: content-box;
  min-height: 40px
}
.playlist__tracks::-webkit-scrollbar-thumb:hover {
  background: #2c3b4e;
  border: 3px solid transparent;
  background-clip: content-box
}
.playlist__tracks::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0
}
.playlist__tracks::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0)
}
.playlist__handle {
  width: 38px;
  height: 5px;
  border-radius: 999px;
  background: rgba(255,255,255,.1019607843);
  margin: 17px auto 22px;
  flex-shrink: 0;
  cursor: -webkit-grab;
  cursor: grab
}
.playlist__handle:active {
  cursor: -webkit-grabbing;
  cursor: grabbing
}
.playlist__tracks {
  overflow: auto;
  padding: 0 14px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
}
.playlist-track {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: #fff
}
.playlist-track img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  flex-shrink: 0;
  -o-object-position: top;
  object-position: top
}
.playlist-track__info {
  display: flex;
  align-items: end;
  gap: 13px
}
.playlist-track__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
  min-width: 0
}
.playlist-track__time {
  padding-left: 15px;
  position: relative
}
.playlist-track__time::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background: #fff;
  content: ""
}
.playlist * {
  font-family: Roboto;
  font-size: 16px;
  color: #fff
}
.tracks-data {
  display: none
}
@media (max-width:425px) {
  .player__top {
    padding: 40px 15px 0 15px
  }
  .player__cover {
    height: 370px
  }
  .player__cover-wrap {
    height: 370px
  }
  .player__btn {
    height: 110px
  }
  .player__btn img {
    width: 28px;
    height: 33px
  }
}
@media (max-width:360px) {
  .player__title {
    font-size: 32px
  }
  .player__subtitle {
    font-size: 18px
  }
  .player__cover {
    height: 320px
  }
  .player__cover-wrap {
    height: 320px
  }
  .playlist-track img {
    width: 42px;
    height: 42px
  }
  .playlist * {
    font-size: 14px
  }
}
@media (max-width:350px) {
  .player__btn {
    height: 90px
  }
  .player__btn img {
    width: 25px;
    height: 28px
  }
}